.todo-item{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:15px;

margin:12px 0;

border-radius:8px;

box-shadow:0 2px 8px rgba(0,0,0,.15);

}

.task-left{

display:flex;

align-items:center;

gap:12px;

}

.completed{

text-decoration:line-through;

color:gray;

}

.todo-item button{

background:#ff4d4d;

color:white;

border:none;

padding:8px 14px;

border-radius:6px;

cursor:pointer;

}

.todo-item button:hover{

background:#d93636;

}